﻿@model MVCMusicStore.Models.Genre

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Browse in @Model.Name</h2>
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Artiste</th>
            <th>Prix</th>
        </tr>
    </thead>
    @foreach(var Album in Model.Albums)
    {
        <tr><td>@Html.ActionLink(@Album.Title, "Detail", new { ID = Album.AlbumID })</td><td>@Album.Artist</td><td>@Album.Price</td></tr>
    }
</table>