﻿@model IEnumerable<MVCMusicStore.Models.Genre>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3>@Html.ActionLink("List des genres", "List")</h3>
<ul>
    @foreach (var genre in @Model)
    { 
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>